.row.sand.hero-image {
  background: url('../assets/office01.jpg') no-repeat top left/cover;
  min-height: 150px;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;

  &.consultant {
    background-image: linear-gradient(to bottom, rgba($consultant-color, 0.8), rgba($consultant-color, 0.8)), url('../assets/office01.jpg');
  }
  &.creative {
    background-image: linear-gradient(to bottom, rgba($creative-color, 0.7), rgba($creative-color, 0.7)), url('../assets/office01.jpg');
  }
  &.technology {
    background-image: linear-gradient(to bottom, rgba($technology-color, 0.7), rgba($technology-color, 0.7)), url('../assets/office01.jpg');
  }
  &.finance {
    background-image: linear-gradient(to bottom, rgba($finance-color, 0.7), rgba($finance-color, 0.7)), url('../assets/office01.jpg');
  }
}

.job-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  line-height: 3.2rem;
  //margin-left: -20px;
  //padding-left: 20px;
  padding-right: 20px;
  //background-color: #801d54;
  color: #fff;

  & h2 {
    font-size: 3rem;
    line-height: 3.2rem;
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: 5px solid #fff;

    & span {
      margin-left: 20px;
      font-size: 1.2rem;
    }
  }
}

.spacer {
  &.white {
    background: #fff;
  }
  &.consultant {
    background: $consultant-color;
  }
  &.creative {
    background: $creative-color;
  }
  &.technology {
    background: $technology-color;
  }
  &.finance {
    background: $finance-color;
  }
}

.margin {
  margin-bottom: 2rem;
}

.paragraph {
  color: #000;
  font-family: 'Crimson Text',Times,serif;
  font-weight: 400;
  margin-bottom: 20px;
  padding-right: 20px;
  text-align: justify;
  font-size: 18px;
  line-height: 24px;

  &.introduction {
    font-size: 24px;
    line-height: 30px;
  }
}

.introduction-paragraph {
  color: #000;
  font-family: 'Crimson Text',Times,serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  padding-right: 20px;
  text-align: justify;


}

.jobtile.details {
  & .tile-content {
    height: auto;
    padding-bottom: 15px;

    &.consultant {
      background: rgba($consultant-color, 0.9);
      color: #fff;
    }
    &.creative {
      background: rgba($creative-color, 0.9);
      color: #fff;
    }
    &.technology {
      background: rgba($technology-color, 0.9);
      color: #fff;
    }
    &.finance {
      background: rgba($finance-color, 0.9);
      color: #fff;
    }
  }
}

.center {
  text-align: center;
}

.next {
  color: #fff;
  cursor: pointer;

  & p {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Neuton';
  }
}

.jobtile.details .tile-content.img {
  padding: 0;
  background-color: rgba(#fff,.0);
}

.fa-2 {
  font-size: 2rem;
}

.columns.half {
  margin-left: 0;
  margin-right: 20px;

  &.second {
    margin-left: 20px;
    margin-right: 0;
  }
}

.abilities {
  font-family: 'Open Sans',Times,serif;
  font-size: 1rem;
}

.location {

}
