@mixin background-opacity($color, $opacity: 0.3) {
    background: $color;
    background: rgba($color, $opacity);
}
$consultant-color: #801d54;
$creative-color: #DF002C;
$technology-color: #0072B9;
$finance-color: #4CBA3F;

.category-filter-list {
  list-style: none;
  float: left;

  & li {
    display: inline-block;
  }

  & .job-category {
    font-size: 1rem;
    padding: .2rem .5rem;
    background-color: #eaeaea;
    cursor: pointer;
    color: #000;

    &.all {
      margin-right: .5rem;
    }

    &.active {
      color: #fff;

      &.all {
        background-color: #000;
      }
      &.consultant {
        background-color: $consultant-color;
      }
      &.creative {
        background-color: $creative-color;
      }
      &.technology {
        background-color: $technology-color;
      }
      &.finance {
        background-color: $finance-color;
      }
    }
  }
}

.location-filter-list {
  list-style: none;
  float: right;
  margin-right: .5rem;

  & li {
    display: inline-block;
  }

  & .job-location {
    width: 20px;
    height: 25px;
    background-size: cover;

    &.all {
      font-size: 1rem;
      padding: .2rem .5rem;
      background-color: #eaeaea;
      cursor: pointer;
      color: #000;
      margin-right: .5rem;
      width: auto;
      height: auto;

      &.active {
        background-color: #000;
        color: #fff;
      }
    }

    &.cologne,
    &.hamburg,
    &.munich,
    &.basel,
    &.bern {
      filter: opacity(50%);

      &:hover {
            filter: opacity(100%);
      }
    }

    &.cologne {
      background-image: url('../assets/location-cologne.png');
    }
    &.hamburg {
      background-image: url('../assets/location-hamburg.png');
    }
    &.munich {
      background-image: url('../assets/location-munich.png');
    }
    &.basel {
      background-image: url('../assets/location-basel.png');
    }
    &.bern {
      background-image: url('../assets/location-bern.gif');
    }
  }
}

.one-third-box {
  opacity: 1;

  &.animate.ng-hide {
    opacity: 0;
  }

  &.animate.ng-hide-add,
  &.animate.ng-hide-remove {
    transition: all linear 0.25s;
  }
}

.tile-content.border-bottom-area-1 {
  border-bottom-width: 5px;
  border-bottom-style: solid;

  &.consultant {
    border-bottom-color: $consultant-color;
  }
  &.creative {
    border-bottom-color: $creative-color;
  }
  &.technology {
    border-bottom-color: $technology-color;
  }
  &.finance {
    border-bottom-color: $finance-color;
  }

}

.tile-content.border-area-1 {
  background-color: #F4F2EF;
  position: relative;

  &:hover {
    cursor: pointer;
    box-shadow: 0 2px 8px rgba(0,0,0,.1), 0 4px 4px rgba(0,0,0,.1);
  }

  &.consultant {
    border-top-color: $consultant-color;
  }
  &.creative {
    border-top-color: $creative-color;
  }
  &.technology {
    border-top-color: $technology-color;
  }
  &.finance {
    border-top-color: $finance-color;
  }

  & .details h2 + p {
    //justify-content: initial;
    margin-bottom: 3rem;
  }

  & .pdf-download {
    position: absolute;
    background-color: #000;
    color: #fff;
    bottom: 0;
    height: 2.5rem;
    width: 100%;
    margin-left: -10px;
    border: none;
    border-radius: 0;

    &:hover {
      border: none;
    }

    & a,
    & i {
      color: #fff;
    }
  }
}

@import "font-awesome/font-awesome";
@import "detail";
