<nxm-welcome-area></nxm-welcome-area>

<div class="jobtile">

  <!-- CONSULTANT HEAD -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('consultant')">
    <div class="service-item tile-area area-1">
      <div class="details">
        <h2 class="job-category">Beratung &amp; Projektmanagement</h2>
      </div>
    </div>
  </div>

  <!-- CONSULTANT HEAD END -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('consultant')"
  ng-repeat="job in vm.consultantJobs">
    <div class="tile-content border-area-1" ng-click="vm.goToJob(job.slug)" ng-class=job.category>
      <div class="details">
        <h2>
          {{job.title}}
          <br> {{job.gender}}
        </h2>
        <p>{{job.location | join:', '}}<br>
        </p>
        <button class="pdf-download">
          <i class="fa fa-job fa-file-pdf-o"></i>
          <a href="https://www.nexum.de/downloads/2016-10-24_Stellenausschreibung_Consulting-PM_v01.pdf" target="_blank">Als PDF</a>
        </button>
      </div>
    </div>
  </div>

  <!-- CREATIVE HEAD -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('creative')">
    <div class="service-item tile-area area-2">
      <div class="details">
        <h2 class="job-category">Kreation</h2>
      </div>
    </div>
  </div>

  <!-- CREATIVE HEAD END -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('creative')" ng-repeat="job in vm.creativeJobs | filterBy: ['category']:vm.selectedCategory">
    <div class="tile-content border-area-1" ng-click="vm.goToJob(job.slug)" ng-class=job.category>
      <div class="details">
        <h2>
          {{job.title}}
          <br> {{job.gender}}
        </h2>
        <p>{{job.location | join:', '}}<br>
        </p>
        <button class="pdf-download">
          <i class="fa fa-job fa-file-pdf-o"></i>
          <a href="https://www.nexum.de/downloads/2016-10-24_Stellenausschreibung_Consulting-PM_v01.pdf" target="_blank">Als PDF</a>
        </button>
      </div>
    </div>
  </div>

</div>
