<nxm-welcome-area></nxm-welcome-area>

<div class="jobtile">

  <!-- CONSULTANT HEAD -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('consultant', vm.category)">
    <div class="service-item tile-area area-1">
      <div class="details">
        <h2 class="job-category">Beratung &amp; Projektmanagement</h2>
      </div>
    </div>
  </div>

  <!-- CONSULTANT HEAD END -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('consultant', vm.category)"
  ng-repeat="job in vm.consultantJobs">
    <div class="tile-content border-area-1" ng-click="vm.goToJob(job.slug)" ng-class=job.category>
      <div class="details">
        <h2>
          {{job.title}}
          <br> {{job.gender}}
        </h2>
        <p>{{job.location | join:', '}}<br>
        </p>
        <button class="pdf-download" ng-click="vm.goToJob(job.slug)">
          <a>Mehr Details gibt's hier</a>
          <i class="fa fa-job fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- CREATIVE HEAD -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('creative', vm.category)">
    <div class="service-item tile-area area-2">
      <div class="details">
        <h2 class="job-category">Kreation</h2>
      </div>
    </div>
  </div>

  <!-- CREATIVE HEAD END -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('creative', vm.category)" ng-repeat="job in vm.creativeJobs | filterBy: ['category']:vm.selectedCategory">
    <div class="tile-content border-area-1" ng-click="vm.goToJob(job.slug)" ng-class=job.category>
      <div class="details">
        <h2>
          {{job.title}}
          <br> {{job.gender}}
        </h2>
        <p>{{job.location | join:', '}}<br>
        </p>
        <button class="pdf-download" ng-click="vm.goToJob(job.slug)">
          <a>Mehr Details gibt's hier</a>
          <i class="fa fa-job fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- TECHNOLOGY HEAD -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('technology', vm.category)">
    <div class="service-item tile-area area-3">
      <div class="details">
        <h2 class="job-category">Technologie</h2>
      </div>
    </div>
  </div>

  <!-- TECHNOLOGY HEAD END -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('technology', vm.category)" ng-repeat="job in vm.technologyJobs | filterBy: ['technology']:vm.selectedCategory">
    <div class="tile-content border-area-1" ng-click="vm.goToJob(job.slug)" ng-class=job.category>
      <div class="details">
        <h2>
          {{job.title}}
          <br> {{job.gender}}
        </h2>
        <p>{{job.location | join:', '}}<br>
        </p>
        <button class="pdf-download" ng-click="vm.goToJob(job.slug)">
          <a>Mehr Details gibt's hier</a>
          <i class="fa fa-job fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

  <!-- FINANCE HEAD -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('finance', vm.category)">
    <div class="service-item tile-area area-4">
      <div class="details">
        <h2 class="job-category">Finanzen & Administration</h2>
      </div>
    </div>
  </div>

  <!-- FINANCE HEAD END -->

  <div class="one-third-box animate" ng-hide="vm.isHidden('finance', vm.category)" ng-repeat="job in vm.financeJobs | filterBy: ['technology']:vm.selectedCategory">
    <div class="tile-content border-area-1" ng-click="vm.goToJob(job.slug)" ng-class=job.category>
      <div class="details">
        <h2>
          {{job.title}}
          <br> {{job.gender}}
        </h2>
        <p>{{job.location | join:', '}}<br>
        </p>
        <button class="pdf-download" ng-click="vm.goToJob(job.slug)">
          <a>Mehr Details gibt's hier</a>
          <i class="fa fa-job fa-arrow-right"></i>
        </button>
      </div>
    </div>
  </div>

</div>
