<div class="row sand">
  <div class="sixteen columns clearfix">
    <h1>Die nexum. Da geht was.</h1>
    <p class="first-paragraph">Super Kunden, reizvolle Aufgaben und spannende Projekte? Definitiv. Kreatives Umfeld mit toller Atmosphäre? Sagt jeder. Das allerbeste Team überhaupt? Keine Frage! Also, wir wüssten jetzt echt nicht, warum man sich nicht bei uns bewerben sollte.
      Los jetzt :-)</p>
    <h2>Hier unsere freien Stellen:</h2>
    <ul class="category-filter-list">
      <li><div class="job-category" ng-click="vm.toggle('consultant')">Beratung & Projektmanagement</div></li>
      <li><div class="job-category" ng-click="vm.toggle('creative')">Kreation</div></li>
      <li><div class="job-category">Technologie</div></li>
      <li><div class="job-category">Finanzen & Administration</div></li>
    </ul>
  </div>
  <br clear="all">
</div>
