<div class="row sand">
  <div class="sixteen columns clearfix">
    <h1>Die nexum. Da geht was.</h1>
    <p class="first-paragraph">Super Kunden, reizvolle Aufgaben und spannende Projekte? Definitiv. Kreatives Umfeld mit toller Atmosphäre? Sagt jeder. Das allerbeste Team überhaupt? Keine Frage! Also, wir wüssten jetzt echt nicht, warum man sich nicht bei uns bewerben sollte.
      Los jetzt :-)</p>
    <h2>Hier unsere freien Stellen. Interessiert? ________</h2>
    <ul class="category-filter-list">
      <li><div class="job-category all" ng-class="{'active': vm.contains('all')}" ng-click="vm.toggle('all')">Alle</div></li>
      <li><div class="job-category consultant" ng-class="{'active': vm.contains('consultant')}" ng-click="vm.toggle('consultant')">Beratung & Projektmanagement</div></li>
      <li><div class="job-category creative" ng-class="{'active': vm.contains('creative')}" ng-click="vm.toggle('creative')">Kreation</div></li>
      <li><div class="job-category technology" ng-class="{'active': vm.contains('technology')}" ng-click="vm.toggle('technology')">Technologie</div></li>
      <li><div class="job-category finance" ng-class="{'active': vm.contains('finance')}" ng-click="vm.toggle('finance')">Finanzen & Administration</div></li>
    </ul>
  </div>
  <br clear="all">
</div>
<div class="spacer clearfix"></div>
